$font-path: "../assets/fonts";

$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary:    #6495ed,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

//Top toolbar
$toolbar-md-background: color($colors, secondary);
//Bttom tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);

$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
